.main.title {
   color: white;
   text-align: center;
   background-color: gray;

}

ul {
   list-style: none;
}

.act.title {
   color: red;
}

.aware.title {
   color: red;
}

.understand.title {
   color: red;
}

.highlight {
   background-color: lightgreen;
}

.button {
   background-color: lightgrey;
}

.below {
   font-family: Arial, Helvetica, sans-serif;
}

.choices {
   background-color: pink;
   padding: 10px;
   text-align: center;

}

.span {
   background-color: aqua;
}

.button {
   background-color: greenyellow;
}

.image {
   display: block;
   margin-right: auto;
   margin-left: auto;
}

.choices {
   margin-top: 21.44px;
}